@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee:wght@400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  	margin: 0; line-height: normal;
}

.bg{
	background-color: #0d121f ;
}

.todo{
	width: fit-content;
}

.todo-done .checkbox{
	background-image: linear-gradient(to bottom, yellow, orange);

}

.todo-done .text{
	text-decoration:line-through;
}